﻿
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<a class="btn btn-xs btn-info" asp-controller="Admin" asp-action="Add"> Add Product</a>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Units in Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.UnitsInStock</td>
                    <td>
                    <a class="btn btn-xs btn-warning" asp-controller="Admin" asp-action="Update" asp-route-productId="@product.ProductId">Update</a>
                    <a class="btn btn-xs btn-danger" asp-controller="Admin" asp-action="Delete" asp-route-productId="@product.ProductId">Delete</a>
                    
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

