﻿@model CartSummaryViewModel

<table class="table-responsive table-striped table-hover">
    <tr>
        <th>Product Name</th>
        <th>Unit Price</th>
        <th>Units in Stock</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    @foreach (var product in Model.Cart.CartLines)
    {
        <tr>
            <td>@product.Product.ProductName</td>
            <td>@product.Product.UnitPrice</td>
            <td>@product.Product.UnitsInStock</td>
            <td>@product.Quantity</td>
            <td><a class="btn btn-success" asp-action="Remove" asp-controller="Cart" asp-route-productId="@product.Product.ProductId">Remove From Cart</a></td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><h3>Total Price</h3></td>
        <td class="text-right">
            <h3>
                <strong>@Model.Cart.TotalAmount</strong>
            </h3>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Continue to Shopping</a>
        </td>
        <td class="text-right">
            <a class="btn btn-success" asp-action="Complete" asp-controller="Cart">Go to Checkout</a>
        </td>
    </tr>
</table>
