﻿@model ShippingDetailsViewModel

@if (TempData["message"] != null)
{
    <span class="alert alert-info">@TempData["message"]</span>
}

<form asp-controller="Cart" asp-action="Complete" method="post">
    <div class="form-group">
        <label asp-for="ShippingDetails.FirstName">First Name</label>
        <input type="text" class="form-control" asp-for="ShippingDetails.FirstName" placeholder="First Name">
        <span asp-validation-for="ShippingDetails.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetails.LastName">Last Name</label>
        <input type="text" class="form-control" asp-for="ShippingDetails.LastName" placeholder="Last Name">
        <span asp-validation-for="ShippingDetails.LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetails.Email">Email</label>
        <input type="email" class="form-control" asp-for="ShippingDetails.Email" placeholder="Email">
        <span asp-validation-for="ShippingDetails.Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetails.City">City</label>
        <input type="text" class="form-control" asp-for="ShippingDetails.City" placeholder="City">
        <span asp-validation-for="ShippingDetails.City"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetails.Age">Age</label>
        <input type="number" min="15" max="75" class="form-control" asp-for="ShippingDetails.Age" placeholder="Age">
        <span asp-validation-for="ShippingDetails.Age"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>