﻿@model CartSummaryViewModel


<ul class="dropdown-menu">

    @foreach (var item in Model.Cart.CartLines)
    {
        <li>
            <a>@item.Product.ProductName--@item.Quantity</a>
        </li>
    }

    <li role="separator" class="dropdown-divider"></li>

    <li>
        <a> <span class="glyphicon glyphicon-align-left glyphicon-shopping-cart" aria-hidden="true"></span>@Model.Cart.TotalAmount</a>
    </li>

    <li role="separator" class="dropdown-divider"></li>

    <li>
        <a asp-controller="Cart" asp-action="CartList">Go to Cart Deatils</a>
    </li>
</ul>
