﻿@model Abc2.Northwind.MvcWebUi.Models.ProductListViewModel
@addTagHelper *,Abc2.Northwind.MvcWebUi


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Units in Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.UnitsInStock</td>
                    <td><a class="btn btn-xs btn-info" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.ProductId">Add To Cart</a></td>
                </tr>
            }


        </tbody>
    </table>
</div>

<product-list-pager current-category-id="@Model.CurrentCategoryId" current-page="@Model.CurrentPage" page-count="@Model.PageCount" page-size="@Model.PageSize"></product-list-pager>
