﻿@model CategoryListViewModel

<a href="/Product/Index?categoryId=0" class="list-group-item @(Model.CurrentCategoryId==0?"active":" " )">All Category</a>
<div class="list-group">
    @foreach (var category in Model.Categories)
    {
        <a href="/Product/Index?categoryId=@category.CategoryId" class="list-group-item @(Model.CurrentCategoryId == category.CategoryId?"active":" " ) ">@category.CategoryName</a>
    }
</div>


